# owner: danishahmedkm (danishahmed0123200@gmail.com)
node_modules
artifacts
cache
gasreport-*
generated
.env
*.DS_Store
build
forge-cache
out
deployments/**/.pendingSafeTransactions
deployments/localhost